body {
  margin: 0;
}

#main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#header {
  padding: 5px;
  border-bottom: 8px solid lightgray;
  border-bottom: 4px solid lightgray;
  background: lightgreen;
  text-align: center;
}

#header .links {
  float: right;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

td, th {
  border: 1px solid black;
  padding-left: 5px;
}

th {
  background-color: beige;
}

#new_feature_request {
  margin: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

label {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}

td form, td form div {
  display: inline;
}