body {
  margin: 0;
  font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

#main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#header {
  padding: 5px;
  border-bottom: 8px solid lightgray;
  border-bottom: 4px solid lightgray;
  background: #ccccff;
  text-align: center;
}

#header .links {
  float: right;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

td, th {
  border: 1px solid black;
  padding-left: 5px;
}

th {
  background-color: beige;
}

#new_feature_request {
  margin: 10px;
}

h1 {
  margin: 0;
}

label {
  width: 170px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

td form, td form div {
  display: inline;
}

.feature-request {
  margin: 5px 0 5px;
  padding: 5px;
  border: 1px solid gray;
  min-height: 40px;
}

.feature-request a {
  font-weight: bold;
  color: darkgreen;
}

.votes {
  float: right;
}

.subtitle {
  font-style: italic;
  color: lightgray;
  font-size: 80%;
}

input[type='text'] {
  width: 300px;
}

textarea {
  width: 304px;
}