- @title = 'Hello World!'

%p Welcome to XX, the website that aims to answer one question.

%h3 What would a website built entirely by responding to popular feature requests from visitors look like?

%p
  If every feature was delivered in order of popularity, would the result not be the best website ever?
  And what kind of website would we build? 

%p So here it is, a blank canvas and a big feature request button. But first some rules.

%h3 The Rules

%p
  %ol
    %li Feature requests must be small (think something a developer could do in an hour).
    %li Feature requests may be voted on by users as many times as they wish.
    %li I'll implement features in order of votes received.

%h3 Ready?

%p Let's go then. Here's the feature request button!

= link_to 'Add a feature request', feature_requests_url