- @title = 'Login'

- form_tag nil, {:id => 'login_form'} do
  %p
    %label{:for => 'login'} Username
    = text_field_tag 'login'

  %p
    %label{:for => 'password'} Password
    = password_field_tag 'password'
  
  = submit_tag 'Log in'